<template name="dashboard">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


	{{#if currentUser}}
		<div class="dashboardWrapper">
			<h1 class="text-center">DASHBOARD</h1>
			<div class="dashboardTabSelect col-xs-12">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
				    <li role="presentation" class="dashboardTabs active dictTab"><a href="#dictionaries" aria-controls="home" role="tab" data-toggle="tab">Collections</a></li>
				    <!-- <li role="presentation" class="dashboardTabs peopleTab"><a href="#people" aria-controls="profile" role="tab" data-toggle="tab">People</a></li>
				     --><li role="presentation" class="dashboardTabs scoreTab"><a href="#scoreboard" aria-controls="messages" role="tab" data-toggle="tab">Scoreboard</a></li>

				    <div class="al">
				    	<a href="/creator">
				    		<span class="newCollText">
				    			Create a new collection 
				    		</span>
				    	</a>
				    	&nbsp; &nbsp; &nbsp;
				    	<b>STATUS</b>
				    	<span class="onlineToggle">
  							<input type="checkbox" data-toggle="toggle" data-on="Online" data-off="Offline" data-height="15" onColor="success" offColor="danger">	
				    	</span>

				    </div>
				</ul>

				
			</div>
			<!-- Tab panes -->
			<div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="dictionaries">
			    	<div class="dbCollectionContent col-xs-12">
						<div class="personalColDiv colDiv col-md-6 col-sm-12">
							<h3 class="text-center">Your Personal Dictionaries</h3>
							<ul class="list-group">
								{{#each personalCollections}}
								<li>
									{{> dictionaryTemplate}}
								</li>
								{{/each}}
								<!-- <li class="dictionaryList">
									<div class="dictTempDiv">
										<b>SAT Practice Words</b> - Set of Words and Meanings from Collegeboard SAT Practice Book	
										<br />
										<a href="/cwplayer"><button class="btn btn-info btn-sm">Play</button></a>
										&nbsp;&nbsp;&nbsp;
										<button class="btn btn-success btn-sm play-online-button">Play Online</button>
									</div>
								</li>
								<li>
									<div class="dictTempDiv">
										<b>Chemical Compounds</b> - Find the commmon words for the Compounds
										<br />
										<a href="/cwplayer"><button class="btn btn-info btn-sm">Play</button></a>
										&nbsp;&nbsp;&nbsp;
										<button class="btn btn-success btn-sm play-online-button">Play Online</button>
									</div>
								</li> -->
							</ul>
						</div>

						<div class="globalColDiv colDiv col-md-6 col-sm-12">
							<h3 class="text-center">Global Dictionaries</h3>
							<ul class="list-group">
								{{#each globalCollections}}
								<li>
									{{> dictionaryTemplate}}
								</li>
								{{/each}}
								<!-- <li>
									<div class="dictTempDiv">
										<b>Game of Thrones Houses</b> - Find the noble houses in Game Of Thones by the city or place they are located in
										<br />
										<a href="/cwplayer"><button class="btn btn-info btn-sm">Play</button></a>
										&nbsp;&nbsp;&nbsp;
										<a href="#people" aria-controls="people" role="tab" data-toggle="tab">
										<button class="btn btn-success btn-sm play-online-button">Play Online</button>
										</a>
									</div>
								</li>
								<li>
									<div class="dictTempDiv">
										<b>Country and Prominient Figures</b> - Name the country these prominient personnels come from.
										<br />
										<a href="/cwplayer"><button class="btn btn-info btn-sm">Play</button></a>
										&nbsp;&nbsp;&nbsp;
										<button class="btn btn-success btn-sm play-online-button">Play Online</button>
									</div>
								</li>
								<li>
									<div class="dictTempDiv">
										<b>IT companies and founders</b> - Name the companies these people started
										<br />
										<a href="/cwplayer"><button class="btn btn-info btn-sm">Play</button></a>
										&nbsp;&nbsp;&nbsp;
										<button class="btn btn-success btn-sm play-online-button">Play Online</button>
									</div>
								</li> -->
							</ul>
						</div>
					</div>
			    </div>	
			   <!--  <div role="tabpanel" class="tab-pane" id="people">
			    	<div class="col-xs-offset-1 col-xs-11 player panel">
			    		Select from the following online players you want to play a crossword game with:
			    	</div>
			    </div> -->
			    <div role="tabpanel" class="tab-pane" id="scoreboard">
			    	<div class="col-xs-offset-1 col-xs-10 score panel text-center">
			    	<h3>SCOREBOARD</h3>
			    		{{> scoreHeader}}
				    	{{#each personalScores}}
				    		{{> scoreTemplate}}
						{{/each}}
					</div>
			    </div>
  			</div>

			
		</div>
		
	{{else}}
		{{> landingPage }}
	{{/if}}
</template>

<template name="dictionaryTemplate">
	<div class="dictTempDiv">
		<b>{{title}}</b> - {{desc}}
		<br />
		<a href="/cwplayer/{{_id}}"><button class="btn btn-info btn-sm">Play</button></a>
		&nbsp;&nbsp;&nbsp;
		<button class="btn btn-success btn-sm play-online-button">Play Online</button>
	</div>
</template>

<template name="scoreHeader">
	<div class="col-xs-12 scoreHeader">
		<div class="col-xs-4">
			Dictionary Played
		</div>
		<div class="col-xs-4">
			Score
		</div>
		<div class="col-xs-4">
			Played on
		</div>
	</div>
</template>
<template name="scoreTemplate">
	<div class="col-xs-12 scores">
		<div class="col-xs-4">
			{{dictTitle}}
		</div>
		<div class="col-xs-4">
			{{score}}%
		</div>
		<div class="col-xs-4">
			{{date}}
		</div>
	</div>
</template>