.landingWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 100px);
	max-width: 80vw;
	margin: 0 auto;

	color: #ffffff;
}
.landContent {
	display: block;
	text-align: center;
}

button.goToCwBtn {
	min-height: 60px;
	min-width: 120px;

	font-size: 2rem;
	font-weight: bold;
}