<template name="register">
    <div class="row pageWrapper">
        <div class="col-md-6 col-sm-12">
            <form class="register-form">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Registration</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-lg-12">
                            <label>Email</label>
                            <input type="email"  class="form-control" id="registerEmail" value="">
                        </div>
 
                        <div class="form-group col-lg-6">
                            <label>Name</label>
                            <input type="text" name="" class="form-control" id="registerFirstname" value="">
                        </div>
 
                        <div class="form-group col-lg-6">
                            <label>Last Name</label>
                            <input type="text" name="" class="form-control" id="registerLastname" value="">
                        </div>
 
                        <div class="form-group col-lg-12">
                            <label>Password</label>
                            <input type="password" name="" class="form-control" id="registerPassword" value="">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
 
<template name="login">
    <div class="row pageWrapper">
        <div class="col-md-6 col-sm-10">
            <form class="login-form">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Login</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-lg-12">
                            <label>Email</label>
                            <input type="email"  class="form-control" id="email" value="">
                        </div>
                        <div class="form-group col-lg-12">
                            <label>Password</label>
                            <input type="password" name="" class="form-control" id="password" value="">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>